body{
    margin: 0;
}
.header{
    width:1250px ;
    height: 80px;
    display: flex;
    justify-content: space-between;
    /* margin-left: 50px; */
    margin: 25px auto;
}
.header2{
    margin-top: 25px;
    /* margin-right: 220px; */
    display: block;
}
a{
margin: 40px;

    text-decoration: none;
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;

/* identical to box height, or 186% */

text-transform: uppercase;

color: #000000;
}

.img1{
    margin-top: 25px;
    margin-left: 40px;
width: 93px;
height: 32px;
/* border-radius: 0px; */
}
.button{
    margin-top:10px ;
    width: 193px;
    height: 52px;
    background: #0057FF;
border-radius: 30px;
border: none;
color: #fff;
}
.main{
    margin: 52px auto;
    width: 1200px;
    height: 750px;
    display: flex;
    justify-content: space-between;
}
.text1{
   
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 66px;
    /* or 118% */
    
    text-transform: uppercase;
    
    color: #000000;
}
.text2{
  
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */


color: #000000;
}
.main2{
  
    border: 1px solid;
    width: 600px;
    height: 750px;
  
    
}
.main1{
    width: 600px;
    height: 750px;
     /* margin-left: 120px; */
}
.img4{
    position: absolute;
width: 100px;
height: 100px;
left: calc(49% - 5px/2 - 5px);
top: calc(42% - 200px/2 + 134.5px);
bottom: 450px;



}
p{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

text-transform: uppercase;

color: #000000;


}
.png1{
    width: 220px;
    height: 80px;
    display: flex;
    justify-content: space-between;
  
  
}
.button2{
    margin-top: 40px;
    width: 176px;
    height: 52px;
    background: #FFA332;
border-radius: 30px;
border: none;
color: #fff;
}
.img5{
    position: absolute;
    width: 300px;
    height: 300px;
    left: calc(65% - 300px/2 + 325px);
    top: calc(70% - 200px/2 + 134.5px);
    bottom: 60px;
    
    background: url(.png);
}


.footer{
    margin: 50px auto;
    width: 1200px;
    height: 865px;
  
    display: flex;
    justify-content: space-between;
}
.footer1{
    width: 600px;
 
    height: 865px;

}
.textkst1{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    /* or 125% */
    
    letter-spacing: 1px;
    text-transform: uppercase;
    
    color: #000000;
}
.textkst2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    /* or 173% */
    
    
    color: #000000;
}


.footer2{
    width: 540px;
    height: 865px;
    background: #FFFFFF;
box-shadow: 0px 8px 28px rgba(83, 83, 83, 0.15);
border-radius: 15px;
}
.png9-10{
    width: 600px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */

}
.png-9-10-1{
    width: 270px;
    height: 150px; 

}
.png-9-10-2{
    width: 250px;
    height: 150px;
 
}
.span1{
    margin-top: 28px;

    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 36px;
display: block;
/* identical to box height, or 144% */

text-transform: uppercase;

color: #000000;
}
.span2{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    
    color: #000000;
}

.span3{
    display: block;
    margin-top: 28px;
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 36px;
/* identical to box height, or 138% */

text-transform: uppercase;

color: #000000;
}
.span4{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */


color: #000000;
}
.button-png9-10-1{
    width: 140px;
    height: 52px;
    border: none;
    background: #0057FF;
    color: #fff;
border-radius: 30px;

}

.footer-span1{
    width: 218px;
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    border-radius: 6px;

}
.footer-div-span{
    width: 461px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin:16px auto;
}
.footer-span2{
width: 218px;
background: #F8F8F8;
border: 1px solid #E7E7E7;
border-radius: 6px;
}
.footer-h3-p{
display: block;
margin: 57px auto 14px auto;
}
h3{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 29px;
line-height: 40px;
/* identical to box height, or 138% */

text-align: center;
text-transform: uppercase;

color: #000000;
}
.footer-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    
    text-align: center;
    
    color: #000000;

}

.footer-div1{
    width: 460px;
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    border-radius: 6px;
}
.footer-div1{
width: 460px;
height: 60px;
background: #F8F8F8;
border: 1px solid #E7E7E7;
border-radius: 6px;
margin: 16px auto;
}
.footer-div2{
    width: 460px;
    height: 140px;
    background: #F8F8F8;
border: 1px solid #E7E7E7;
border-radius: 6px;
margin: 16px auto;
}
.footer-button{
    background: #0057FF;
    border-radius: 30px;
    width: 460px;
    height: 52px;
    margin: 42px auto;
    color:#fff;
display: block;
border:none;
}
.footer-text1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 60px;
    /* identical to box height, or 400% */
    
    text-align: center;
    margin-left: 26px;
    color: #000000;
}
.footer-text2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 60px;
    /* identical to box height, or 400% */
    
    text-align: center;
    margin-left: 26px;
    color: #000000;
}
.footer-text3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 60px;
    /* identical to box height, or 400% */
    
    text-align: center;
    margin-left: 26px;
    color: #000000;
}
.footer-text4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 60px;
    /* identical to box height, or 400% */
    
    text-align: center;
    margin-left: 26px;
    color: #000000;
}
.png-footer2{
    position: absolute;
    width: 100px;
    height: 100px;
    left: calc(72% - 100px/2 - 274px);
    top: calc(200% - 100px/2 - 359.5px);
    
    background: url(.png);
}
.png-footer1{
    position: absolute;
    width: 200px;
    height: 200px;
    left: calc(72% - 200px/2 + 230px);
    top: calc(197% - 200px/2 + 134.5px);
}